<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Texcoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E9A51821E20C79A00F6069A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E9A51991E20C79A00F6069A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E9A51A41E20C79A00F6069A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
